body{
    background-color: black;
}

h1{
    color: aliceblue;
}

div{
    text-align: center;

}

button:hover{
    cursor: pointer;
}
    


button{
      height: 2.5em;
      width: 6em;
      border: none;
      color: wheat
}

.start-btn{
    background-color:green ;
}

.stop-btn{
    background-color: red;
}

.pause-btn{
    background-color: gray;
}